{% extends 'base.html.twig' %}

{% block title %}Modifier un ingrédient{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Modifier l'ingrédient : {{ ingredient.name }}</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">{{ message }}</div>
    {% endfor %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name) }}
                {{ form_row(form.price) }}
            </div>
        </div>
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
    <a href="{{ path('admin_ingredients') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
</div>
{% endblock %} 