{% extends 'base.html.twig' %}

{% block title %}First Project - Mes recettes{% endblock %}

{% block body %}
<div class="container mt-4">

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% if recettes|length > 0 %}
        <h1>Mes recettes</h1>

        <a href="{{ path('app_recette_new') }}" class="btn btn-warning mb-3">Ajouter une recette</a>

        <div class="count mt-4">
            <h4>Il y a {{ recettes.getTotalItemCount }} recettes</h4>
        </div>

        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th scope="col">Numéro</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Difficulté</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Modification</th>
                    <th scope="col">Suppression</th>
                </tr>
            </thead>
            <tbody>
                {% for recette in recettes %}
                    <tr class="table-danger">
                        <th scope="row">{{ (recettes.currentPageNumber - 1) * recettes.itemNumberPerPage + loop.index }}</th>
                        <td>{{ recette.name }}</td>
                        <td>{{ recette.price }}</td>
                        <td>{{ recette.difficulty }}</td>
                        <td>{{ recette.createdAt|date('d/m/Y') }}</td>
                        <td>
                          Todo
                        </td>
                        <td>
                          Todo
                        </td>   
                    </tr>

                {% endfor %}

            </tbody>
        </table>

        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(recettes) }}
        </div>

        {% else %}
            <h4>Il n'y a pas de recettes</h4>
        {% endif %}
    </div>

</div>
{% endblock %}